/* You can add global styles to this file, and also import other style files */
.closeBar {
    background-image: url("/assets/images/home back.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: steelblue;
    height: 3rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    position: relative;

}
.closeBar .col-8{
    margin-top: auto;
    margin-bottom: auto;
}
.closeButton a {
    padding-left: 6px;
    padding-right: 6px;
    border: none;
    background-color: transparent;
    position: absolute; right: 6px; top: 25%;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}
.closeButton a:link {
    text-decoration: none;
}
.closeButton a:hover{
    border: 1px solid rgb(187, 30, 16);
    border-radius: 4px;
    color: rgb(187, 30, 16);
}
.footer{
    height: 2em;
    width: 100vw;
    background-color: rgb(235,235,235);
    opacity: 0.8;
    border-top: 1px solid grey;
    margin-top: 5rem;
    position: fixed;
    bottom: 0;
    color: grey;
    font-family: 'Brush Script MT';
    text-align: end;
}

@media screen and (max-width: 992px){
    .closeBar{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .footer {
        height: 1.5rem;
    }

}
@media print {
    .footer {
        display: none;
    }
}